<div>
  <div>
    <button><%= link_to "edit list name", edit_list_path(@list) %></button>
    <button><%= link_to "delete the list", list_path(@list), data: { turbo_method: :delete} %></button>
  </div>
</div>
<div class="banner--image top--banner flex-text--vh--c">
  <div class="">
    <h2><%= @list.name %></h2>
  </div>
</div>
<div class="container mt-4 mb-4">
  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie  %>
  <%= f.input :comment %>
  <%= f.button :submit, class: "btn btn-success"  %>
  <% end %>
</div>
<div class="container mt-4 mb-4">
  <% @movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>

    <div class="mb-2">
      <% movie.title%>
    </div>

    <div class="mb-2">
      <%= image_tag movie.poster_url, width: 200 %>
    </div>
    <div class="mb-2">
      Overview: <%= movie.overview%>
    </div>
    <div class="mb-2">
      Rating: <%= movie.rating %>
    </div>

  <div class="mb-2">
    Comment: <%= bookmark.comment %>
  </div>
  <div class="mb-2">
  <%= link_to "delete",  bookmark_path(bookmark), data: {turbo_method: :delete}, class:"btn btn-danger" %>
  </div>
  <% end %>

  <div class="footer-container mt-4">
  <div>
    <% Review.all.each do |review| %>
    <div>
      <%= review.content %>
    </div>
    <% end %>
  </div>
    <div>
      <%= simple_form_for [@list, @review] do |f| %>
      <%= f.input :content %>
      <%= f.button :submit, class: "btn btn-success"  %>
      <% end %>
    </div>
  </div>
</div>
